:root {
  --backgroundColor: #0a0a0a;
  --textColor: #dce0df;
  --textColor-rgb: 220, 224, 223;
  --alwaysWhite: #dce0df;
}

[data-theme="dark"] {
  --backgroundColor: #dce0df;
  --textColor: #121212;
  --textColor-rgb: 18, 18, 18;
}

* {
  font-family: 'Molengo', 'Fraunces', Avenir, Helvetica, Arial, sans-serif;
  color: var(--textColor);
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: color 0.5s, background-color 0.5s;
  letter-spacing: 2px;

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 3px;
    margin: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--textColor);
    opacity: 0.4;
    border-radius: 3px;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--backgroundColor);
  overflow-x: hidden;
  overflow-y: auto;
}

::selection {
  background: var(--textColor);
  color: var(--backgroundColor);
}

::-moz-selection {
  background: var(--textColor);
  color: var(--backgroundColor);
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: rgba(var(--textColor-rgb), 0.4) transparent;
    scrollbar-width: thin;
  }
}